body {
  background-image: url("images/boeing.png");
  background-size: cover;
}

#h1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

#head {
  background: #171D56;
  font-size: 20pt;
  color: #ffffff;
  padding: 15px;
}

#About Us {
  background-color: #dfdfff;
}

#button choice {
  display: flex;
  justify-content: center;
  font-size: 30px;
}