<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./about">About Us</a></li>
        <li><a href="./flights">Flights</a></li>
        <li><a href="./hotels">Hotel</a></li>
        <li><a href="./rental">Car Rental</a></li>
        <li><a href="./recom">Recommendations</a></li>
        <li><a href="./help">Help</a></li>
      </ul>
    </nav>
<h2>About Us</h2>
<p>We are a new company specializing in civil flights. In our company, we recruit only specialized people and professional aircraft. We care about the safety of our customers. We provide the most convenient service in our market.</p>
  </body>
  
  <script src="static/js/script.js"></script>
</html>