<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#" class="active">Flights</a></li>
        <li><a href="./about">About Us</a></li>
        <li><a href="./flights">Flights</a></li>
        <li><a href="./hotels">Hotel</a></li>
        <li><a href="./rental">Car Rental</a></li>
        <li><a href="./recom">Recommendations</a></li>
        <li><a href="./help">Help</a></li>
      </ul>
    </nav>
<h2>Choice flight :</h2>
<div id="button choise">
  <button id="choise">Choice Flight</button>
</div>
  </body>
  
  <script src="static/js/script.js"></script>
</html>