<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/style.css" rel="stylesheet">
    <title>Your Site</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="./about">About Us</a></li>
        <li><a href="./flights">Flights</a></li>
        <li><a href="./hotels">Hotel</a></li>
        <li><a href="./rental">Car Rental</a></li>
        <li><a href="./recom">Recommendations</a></li>
        <li><a href="./help">Help</a></li>
      </ul>
    </nav>
    <HEAD>
      <style>
   body {
    font: Bebas Neue;
    background-image: url(boeing.jpg);
    background-color: #dfdfff;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
   }
   #header {
    background: #171D56;
    font-size: 20pt;
    color: #ffffff;
    padding: 15px;
   }
     </style>
        <div id="header">
            <font size="10" face="Bebas Neue">
                PIX AIR
            </font>
        </div>
    </HEAD>
  </body>
  <script src="static/js/script.js"></script>
</html>